main {
  background-color: #383c3f;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 2px 5px 5px gray;
}

form {
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  color: white;
}

label {
  display: flex;
  justify-content: space-evenly;
}

input[name="login"] {
  width: 100%;
  padding: 4px;
  font-size: inherit;
  background-color: #0058ff;
  color: white;
}

input[name="login"]:hover {
  background-color: white;
  color: #0058ff;
}

input {
  border: 0;
  border-radius: 5px;
  font-weight: 500;
}
